@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/violet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  height: 100%;
}


.rdt_TableBody {
  height: calc(100vh - 160px) !important;
  max-height: calc(100vh - 160px) !important;
  overflow-y: auto !important;
}

.rdt_TableRow:hover {
  opacity: 0.75;
  cursor: pointer;
  background-color: rgba(230, 230, 230, 0.7);
}

.leaflet-container {
  height: 100%;
}